.topbar-flexbox {
	background-color: black;
	position: fixed;
	width: 100%;
	height: 70px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	z-index: 1;
}

.sidebar-icon-off {
	color: white;
	font-size: 40px;
	transition-duration: 1000ms;
}

.sidebar-icon-on {
	color: white;
	font-size: 40px;
	transition-duration: 1000ms;
	transform: rotate(180deg);
}

.sidebar-icon-on:hover, .sidebar-icon-off:hover {
	color: aqua;
}

.sidebar-icon-content {
	position: relative;
	background-color: black;
	top: 3px;
}

.sidebar-content-on, .sidebar-content-off {
	position: absolute;
	background-color: black;
	top: 60px;
	height: 500px;
	width: 300px;
	padding: 10px;
}

.sidebar-content-on {
	transition: left 1000ms;
	left: -10px;
}

.sidebar-content-off {
	transition: left 1000ms;
	left: -300px;
}

.sidebar-content-item {
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-items: flex-end; /*???*/
}

.sidebar-content-item:hover {
	background-color: gray;
	cursor: pointer;
}

.sidebar-content-left-icon > svg {
	font-size: 25px;
	color: white;
	margin-right: 30px;
}

.sidebar-content-text {
	color: white;
	font-size: 25px;
}

.sidebar-content-right-icon {
	color: white;
	font-size: 25px;
	position: absolute;
	right: 15px;
}

.company-logo {
	color: white;
	font-size: 20px;
}

.input-search {
	border-radius: 20px;
	padding: 8px;
	border: 10px;
	width: 275px;
	height: 25px;
	background-color: rgba(235, 235, 235, 1);
}

.login-icon {
	color: white;
	font-size: 40px;
}

.cart-icon {
	color: white;
	font-size: 40px;
}