#products-title {
	font-size: 50px;
	display: table;
	margin: auto;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.products-overflow {
	overflow: hidden;
}

.products-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(225px, 400px));
	grid-gap: 100px;
	align-items: center;
	justify-content: center;
	animation: slide-up 1500ms cubic-bezier(0.4, 0, 0.2, 1); 
	margin-top: 30px;
	margin-bottom: 30px;
}

@keyframes slide-up {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

.product-info {
	background-color: white;
	height: 400px;
	border: 1px solid black;
	border-radius: 20px;
	transition: transform 500ms;
}

.product-info:hover {
	transform: scale(1.15);
}

#product-img {
	grid-area: img;
	height: 300px;
	width: 200px;
	display: table;
	margin: auto;
	margin-top: 10px;
}

.product-text {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 20px;
	padding: 10px;
}

#product-name {
	font-size: 20px;
}

#product-price {
	font-size: 20px;
}

#product-icon {
	width: 60px;
	height: 30px;
}