
.sidebar-icon-off {
	color: white;
	font-size: 40px;
	transition-duration: 1000ms;
}

.sidebar-icon-on {
	color: white;
	font-size: 40px;
	transition-duration: 1000ms;
	transform: rotate(180deg);
}

.sidebar-icon-on:hover, .sidebar-icon-off:hover {
	color: aqua;
}

.sidebar-icon-content {
	position: relative;
	background-color: black;
	top: 3px;
}

.sidebar-content-on, .sidebar-content-off {
	position: absolute;
	background-color: black;
	top: 60px;
	width: 200px;
	padding: 10px;
	overflow: hidden;
}

.sidebar-content-off {
	transition: left 1000ms;
	left: -400px;
}

.sidebar-content-on {
	transition: left 1000ms, height 1000ms;
	left: -80px;
}

.sidebar-content-item {
	padding: 10px;
	height: 20px;
	display: flex;
	flex-direction: row;
	align-items: flex-start; 
	width: 180px;
}

.sidebar-content-item:hover {
	background-color: gray;
	cursor: pointer;
}

.sidebar-content-left-icon > svg {
	font-size: var(--sidebar-content-item-size);
	color: white;
	margin-right: 30px;
}

.sidebar-content-text {
	color: white;
	font-size: var(--sidebar-content-item-size);
	width: 60px;
	transform: translateY(-10%);
	margin-right: 50px;
	/*position: absolute;*/
	/*left: 70px;*/
}

.sidebar-content-right-icon > svg {
	color: white;
	font-size: var(--sidebar-content-item-size);
	/*position: absolute;*/
	/*left: 200px;*/
}

.primary-off {
	position: absolute;
	transition: transform 1000ms;
	transform: translateX(200%);
}

.electronics-off,
.clothes-off,
.vehicles-off,
.apartments-off,
.houses-off,
.islands-off {
	position: absolute;
	transition: transform 1000ms;
	transform: translateX(-200%);
}

.primary-on,
.electronics-on,
.clothes-on,
.vehicles-on,
.apartments-on,
.houses-on,
.islands-on {
	position: absolute;
	transition: transform 1000ms;
	transform: translateX(0%);
}