:root {
	--sidebar-content-item-size: 20px;
}

.sidebar-icon-off {
	color: white;
	font-size: 40px;
	transition-duration: 1000ms;
}

.sidebar-icon-on {
	color: white;
	font-size: 40px;
	transition-duration: 1000ms;
	transform: rotate(180deg);
}

.sidebar-icon-on:hover, .sidebar-icon-off:hover {
	color: aqua;
}

.sidebar-icon-content {
	position: relative;
	background-color: black;
	top: 3px;
}

.sidebar-content-on, .sidebar-content-off {
	position: absolute;
	background-color: black;
	top: 60px;
	width: 310px;
	padding: 10px;
	overflow: hidden;
}

.sidebar-content-off {
	transition: left 1000ms;
	left: -500px;
}

.sidebar-content-on {
	transition: left 1000ms, height 1000ms;
	left: -80px;
}

@media (max-width: 1500px) {
  .sidebar-content-on {
    left: -100px;
  }
}

@media (max-width: 1300px) {
  .sidebar-content-on {
    left: -50px
  }
}

@media (max-width: 1200px) {
  .sidebar-content-on {
    left: -40px;
  }
}

@media (max-width: 1100px) {
  .sidebar-content-on {
    left: -30px
  }
}

@media (max-width: 1000px) {
  .sidebar-content-on {
    left: -20px;
  }
}

@media (max-width: 900px) {
  .sidebar-content-on {
    left: -10px;
  }
}

@media (max-width: 800px) {
  .sidebar-content-on {
    left: 0px;
  }
}

@media (max-width: 700px) {
  .sidebar-content-on {
    left: 10px;
  }
}

@media (max-width: 600px) {
  .sidebar-content-on {
    left: 20px;
  }
}

@media (max-width: 500px) {
  .sidebar-content-on {
    left: 30px;
  }
}

@media (max-width: 400px) {
  .sidebar-content-on {
    left: 40px;
  }
}

.sidebar-content-item, .sidebar-content-item-reduced {
	padding: 10px;
	height: 20px;
	display: flex;
	flex-direction: row;
	align-items: flex-start; 
	width: 400px;	
}

.sidebar-content-item-reduced {
	justify-content: space-around;
}

.sidebar-content-item:hover, .sidebar-content-item-reduced:hover {
	background-color: gray;
	cursor: pointer;
}

.sidebar-content-left-icon > svg {
	font-size: var(--sidebar-content-item-size);
	color: white;
	margin-right: 70px;
  transform: translate(80%, -20%);
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(54, 21, 21);
  border: 1px solid rgb(54, 52, 52);
}

.sidebar-content-text {
	color: white;
	font-size: var(--sidebar-content-item-size);
	width: 150px;
	transform: translateY(-10%);
	margin-right: 90px;
}

.sidebar-content-right-icon > svg {
	color: white;
	font-size: var(--sidebar-content-item-size);
  border-radius: 50%;
  padding: 5px;
  transform: translate(-300%, -20%);
  background-color: rgb(54, 21, 21);
  border: 1px solid rgb(54, 52, 52);
}

.primary-off {
	position: absolute;
	transition: transform 1000ms;
	transform: translateX(200%);
}

.smartphones-off,
.notebooks-off,
.televisions-off,
.videogames-off,
.mens-off,
.womans-off {
	position: absolute;
	transition: transform 1000ms;
	transform: translateX(-200%);
}

.primary-on,
.smartphones-on,
.notebooks-on,
.televisions-on,
.videogames-on,
.mens-on,
.womans-on {
	position: absolute;
	transition: transform 1000ms;
	transform: translateX(0%);
}